.contact_section{
    max-width: 1000px;
    margin: 0 auto;
 margin-top: 50px;
}

.conatact_section h1{
font-weight: 800;
font-size: 48px;
max-width: 80%;
}

.conatact_section p{
    font-weight: 500;
   
    }